@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --star-color-filled: #FFD700;
    --star-color-blank: #D3D3D3;
    --location-icon:  #C70039;
    --primary: #312E81;
}

body { 
    background-color: #F5F5F5;
}

p { @apply mb-5 }

footer {
    margin-top: 40px;
    padding-top: 10px;
    background-color:#E8E8E8;
}

.section-header { @apply font-bold text-3xl mt-2 pb-1 mb-3 w-fit }

.location-item { 
    background-color:  #EADDCA;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
}

.location-label { 
    @apply text-xl
}

.main-menu-item {
    @apply font-semibold py-2 px-4 rounded-full text-lg
}
